[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
multiscope-client = {editable = true, path = "."}
protobuf = "*"
absl-py = "*"
grpcio-tools = "*"
grpcio = "*"
numpy = "*"
portpicker = "*"
termcolor = "*"

[dev-packages]
black = "*"
pipenv-setup = {extras = ["black"], version = "*"}
pytype = "*"

[requires]
python_version = "3.9"
