.container {
  display: flex;
  flex-direction: column;
}

/* Layout of the full page */
.container_main {
  /* Take the remaining height */
  flex-grow: 1;

  /* Layout the left sidebar, main content and right sidebar */
  display: flex;
  flex-direction: row;
}

/* Left tree */
.container_left {
  flex-basis: auto;
  margin-right: 1em;
}

/* Dashboard displaying all the panels. */
.container_middle {
  /* Take the remaining width */
  flex-grow: 1;
}

/* Not used at the moment */
.container_right {
  width: 0%;
}

/* Layout for a list of panels */
.panels_layout_list {
  display: flex;
  flex-wrap: wrap;
}

/* Class for a panel */
.panel {
  border: 0 solid red;

  display: flex;
  flex-direction: column;
  width: fit-content;
}

.panel-title {
  display: block;
  height: 1.4em;
  width: 100%;
}

.panel-text-title{
  vertical-align:top;
}

.panel-content {
  overflow: auto;
  flex-grow: 1;
}
