* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans";
  font-size: 14pt;
}

/* Style for the page. */
.page-header {
  top: 0;
  /* Fixed position - sit on top of the page */
  position: sticky;
}

.page-footer {
  position: sticky;
  left: 0;
  bottom: 0;
}

/*
   Style for the dashboard containing all the panels
   and the left and right sidebars.
*/
.dashboard {
  display: flex;
  flex-direction: column;
}
.dashboard-main {
  /* Take the remaining height */
  flex-grow: 1;
  /* Layout the left sidebar, main content and right sidebar */
  display: flex;
  flex-direction: row;
}
.dashboard-left {
  width: 25%;
}
.dashboard-right {
  width: 20%;
}
.dashboard-middle {
  /* Take the remaining width */
  flex-grow: 1;
}


/* Style for the header */
.toppage {
  overflow: hidden;
  position: relative;
}

.toppage a {
  color: inherit;
  text-decoration: none;
}

.toppage a.icon {
  cursor: pointer;
  padding: 0px 0px;
  line-height: 0.5em;
  font-size: 140%;
  user-select: none;
}

/* Style for the panel */
.panel-title {
  display: block;
  align: left;
}

.panel-title a {
  color: inherit;
  text-decoration: none;
}

.panel-title a.icon {
  cursor: pointer;
  user-select: none;
}


/* Style for the tree */
.tree-list {
  list-style-type: none;
  padding-left: .5em;
}

.tree-item {
}

.tree-caret {
  cursor: pointer;
  user-select: none;
}

/*
   Style for a panel displaying HTML text.
*/
p.html-content {
  font-size: 80%;
}

/*
   Style for the panel displaying a ticker.
*/
p.ticker-content {
  font-size: 80%;
}

/*
   Style for the panels inside the dashboard.
*/
p.error-content {
  font-size: 80%;
}

/*
   Style for a panel displaying raw text.
*/
p.text-content {
  font-size: 80%;
}

