* {
  margin: 0;
  padding: 0;
}

:root {
  --main-fg-color: black;
  --main-bg-color: white;
  --main-bg-sub-color: grey;
}

body {
  font-family: "Noto Sans";
  font-size: 12pt;
  background: var(--main-bg-color);
  color: var(--main-fg-color);
}

/* Style for the page. */
.page-header {
  top: 0;
  /* Fixed position - sit on top of the page */
  position: sticky;
}

.page-footer {
  position: sticky;
  left: 0;
  bottom: 0;
}

/* Generic style for widgets */
.icon {
  vertical-align: top;
}

.button {
  cursor: pointer;
  user-select: none;
  color: inherit;
  text-decoration: none;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
  height: 2em;
}


.slider {
  -webkit-appearance: none;
  width: 100%;
  height: .3em;
  background: var(--main-fg-color);
  border-radius: .3em;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: .6em;
  width: .6em;
  height: 1.2em;
  background: var(--main-fg-color);
  cursor: pointer;
}

/* Style for the header */
.h1.toppage {
  overflow: hidden;
  position: relative;
  vertical-align: top;
  text-align: left;
}

.toppage-main-title {
  vertical-align: top;
}

/* Style for the tree */
.tree-root {
  list-style-type: none;
  padding-left: 0;
  white-space: nowrap;
}

.tree-list {
  list-style-type: none;
  padding-left: .8em;
  white-space: nowrap;
}

.tree-item {
}

/*
   Style for a panel displaying HTML text.
*/
p.html-content {
  font-size: 80%;
}

/*
   Style for the panel displaying a ticker.
*/
p.ticker-content {
  font-size: 80%;
}

/*
   Style for the panels inside the dashboard.
*/
p.error-content {
  font-size: 80%;
}

/*
   Style for a panel displaying raw text.
*/
p.text-content {
  font-size: 80%;
}

