* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans";
  font-size: 12pt;
}

/* Style for the page. */
.page-header {
  top: 0;
  /* Fixed position - sit on top of the page */
  position: sticky;
}

.page-footer {
  position: sticky;
  left: 0;
  bottom: 0;
}

/* Generic style for widgets */

.button {
  cursor: pointer;
  user-select: none;
  color: inherit;
  text-decoration: none;
}

/* Style for the header */
.toppage {
  overflow: hidden;
  position: relative;
}

.toppage a.icon {
  font-size: 140%;
}

/* Style for the panel */
.panel-title {
  display: block;
  align: left;
}

/* Style for the tree */
.tree-list {
  list-style-type: none;
  padding-left: .8em;
}

.tree-item {
}

/*
   Style for a panel displaying HTML text.
*/
p.html-content {
  font-size: 80%;
}

/*
   Style for the panel displaying a ticker.
*/
p.ticker-content {
  font-size: 80%;
}

/*
   Style for the panels inside the dashboard.
*/
p.error-content {
  font-size: 80%;
}

/*
   Style for a panel displaying raw text.
*/
p.text-content {
  font-size: 80%;
}

